:root {
	--background-normal:   #EEE;
	--background-highlight: white;
	--color-normal: black;
	--shadow-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
		--background-normal:   #222;
		--background-highlight: black;
		--color-normal: white;
		--shadow-color: rgba(1, 1, 1, 0.2);
	}
	.loadingicon {
		filter: invert(1);
	}
}


body {
	font-family: Calibri, Arial;
	color: var(--color-normal);
	background-color: var(--background-normal);
}

button {
	color: inherit;
	background-color: var(--background-highlight);
	padding: .7em 1em;
	margin: 1em 0;
	box-shadow: 0 4px 8px 0 var(--shadow-color);
	border: none;
}

.cantine {
	margin-bottom: 1rem;
	box-shadow: 0 4px 8px 0 var(--shadow-color);
	padding: 16px;
	min-width: 300px;
	width: 50%;
	background-color: var(--background-highlight);
}

.cantinename {
	text-align: left;
	font-size: larger;
	font-weight: bold;
	padding-bottom: .5rem;
}

.lunchitem {
	display: flex;
	align-items: flex-end;
}

.lunchitemname {
	text-align: left;
}

.lunchitemcomment {
	flex-grow: 1;
	text-align: right;
	white-space: nowrap;
	color: #999999;
	margin: 0px 0.5rem;
}

.lunchitemprice {
	text-align: right;
}

.lunchitem:not(:last-child)
{
	margin-bottom: .5rem;
}

.loadingicon {
	height: 2rem;
	flex-grow: 1;
}
.loadingcontainer {
	display: flex;
	align-items: center;
	font-size: 2rem;
}

#forkongitlab a {
	background: #fc6d27;
	color:  var(--background-highlight);
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
	transition: 0.5s;
}

#forkongitlab a:hover {
	background: #c11;
	color: var(--background-highlight);
}

#forkongitlab a::before, #forkongitlab a::after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: var(--background-highlight);
}

#forkongitlab a::after {
	bottom: 1px;
	top: auto;
}

@media screen and (min-width:800px) {
	#forkongitlab {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
		z-index: 9999;
	}
	#forkongitlab a {
		width: 200px;
		position: absolute;
		top: 60px;
		right: -60px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		box-shadow: 4px 4px 10px rgbax(0, 0, 0, 0.8);
	}
}
